@model LoginViewModel

<div class="container d-flex justify-content-center">
    <div class="d-flex flex-column justify-content-center" style="min-height: 80vh;">
        <div style="max-width: 400px; margin: 0 auto;">
            <h2 class="text-center mb-4">Login</h2>

            <form asp-action="Login" method="post">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
                @Html.ValidationSummary(false, "", new { @class = "text-danger mt-3" })
            </form>
        </div>
    </div>
</div>
